html {
  scroll-behavior: smooth;
}

.paralax-text {
  display: flex;
  flex-wrap: nowrap;
  word-break: keep-all;
  white-space: nowrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: start;
  animation: slide 5s infinite linear;
  user-select: none;
}

@keyframes slide {
  100% {
    transform: translateX(calc(-100% - 30px));
  }
}

@media (max-width: 768px) {
  .paralax-text {
    gap: 30px;
    animation: slide 4.6s linear infinite;
  }
}
