.applicationsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  padding-top: 100px;
}

.applicationsSectionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
}

.applicationsSectionWrapper h2 {
  color: var(--primary);
}

.applicatinsCardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.applicatinsCardsWrapper .card {
  background-color: var(--secondary);
  border-radius: 8px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.147);
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 4px 0px 0px rgb(196, 196, 196);
  text-align: center;
  aspect-ratio: 1/1;
  max-width: 230px;
  position: relative;
}

.applicatinsCardsWrapper .card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  object-position: middle;
}

@media (max-width: 450px) {
  .applicatinsCardsWrapper {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
